.form__skills
	margin-bottom 100px

	.title
		padding-bottom 20px

	.skills__col-wrap
		@extend $relativePosition
		&:after
			@extend $clearBoth

	.skills__col
		float left
		&:first-child
			width 36%
		&:nth-child(2)
			width 36.5%
		&:last-child
			width 27.5%