.form__js
	margin-bottom 62px

	.title
		padding-bottom 19px

	.skill-level__range
		@extend $relativePosition
		top -14px
		padding-left 1.5px

	.skills-level__block
		@extend $relativePosition
		transform rotate(-1deg)
		z-index 2
		background-color $white

	table
		padding-bottom 16px

	td
		@extend $relativePosition
		@extend $smallerFontSize
		vertical-align bottom
		width 25% !important
		transform rotate(1deg)
		&:not(:last-child),
		&:last-child
			&:before
				@extend $pseudoElement
				width 1px
				top 100%
		&:not(:last-child)
			padding-right 8px
			&:before
				left 0
				border-left 2px dotted $gainsborough
		&:last-child
			text-align right
			&:before
				right 0
				border-right 2px dotted $gainsborough
				height 14px
		&:first-child
			&:before
				height 16px
		&:nth-child(2)
			&:before
				height 16px
			&:after
				bottom -27px
				height 8px
		&:nth-child(3)
			&:before
				height 18px
			&:after
				bottom -30px
				height 11px

		&:nth-child(2),
		&:nth-child(3)
			&:after
				@extend $pseudoElement
				width 1px
				background-color $white
				left 0

	.slider
		&.slider-horizontal
			sizeElement(99.8%, 16px)
			.slider-track
				background-image none
				background-color #e8e8e8
				box-shadow none
				border-radius 0
				height 16px;

	.slider-selection
		transition width .3s linear
		box-shadow none
		border-radius 0
		background-image linear-gradient(to right, #c7aeee, #8986c3)

	.slider-handle
		transition left .3s linear
		@extend $cursorPointer
		sizeElement(22px, 22px)
		top 25px
		background $transparent
		border-radius 0 100% 100% 100%
		transform rotateZ(45deg)
		border 1px solid #b5b5b5

