.header
	sizeElement(100%, $headerHeight)
	elementPosition(fixed, 0, 0)
	background-color $white
	z-index 10
	&:after
		@extend $pseudoElement
		sizeElement(100%, 1px)
		background-color $grayLight
		left 0
		bottom 0
		z-index 10

	.header__nav
		@extend $transitionSlow
		@extend $centerText
		line-height $headerHeight
		li
			display inline-block
			&:not(:last-child)
				margin-right 9%
		a
			font-size 14px
			&.active
				color $blackSignal