.mobile-menu
	@extend $transitionSlow
	elementPosition(fixed, 0, 0)
	sizeElement(100%, 100vh)
	background-color rgba(26, 35, 58, .9)
	z-index 11
	transform translateX(-100%)

	.header__nav
		@extend $absoluteElementPosition
		@extend $centerElement
		li
			@extend $centerText
			margin-bottom 3vh
		a
			font-size 20px
			color $white
			white-space nowrap

.mobile-menu-btn
	@extend $cursorPointer
	sizeElement(40px, 30px)
	position fixed
	top 15px
	right 15px
	display none
	z-index 12
	span
		@extend $relativePosition
		top 13px
		&:after
			content: '';
			position: absolute;
			top: 10px;
		&:before
			content: '';
			position: absolute;
			top: -10px;
	span,
	span:before,
	span:after
		display: block;
		width: 100%;
		height: 6px;
		background-color $accentColor
		border-radius: 4px;
		transition: all .3s ease;
	&.active
		span
			background-color $transparent
			&:after,
			&:before
				background-color $white
				top 0
			&:after
				transform rotate(-45deg)
			&:before
				transform rotate(45deg)
