.mobile-menu
	@extend $transitionSlow
	elementPosition(fixed, 0, 0)
	sizeElement(100%, 100vh)
	background-color rgba(26, 35, 58, .8)
	z-index 11
	transform translateX(-100%)

	.header__nav
		@extend $absoluteElementPosition
		@extend $centerElement
		li
			@extend $centerText
			margin-bottom 3vh
		a
			font-size 20px
			color $white
			white-space nowrap
