.minict_wrapper
	@extend $centerElementMargin
	sizeElement(60%, $inputHeight)
	max-width 320px
	&:after
		content ''
		display block
		@extend $transitionDefault
		@extend $cursorPointer
		sizeElement(6px, 6px)
		border 2px solid $accentColor
		border-left-color $transparent
		border-top-color $transparent
		transform translateY(-80%) rotate(45deg)
		right 18px
		top 50%
	&.active
		&:after
			content ''
			transform translateY(-20%) rotate(225deg)

	span
		@extend $mediumFontSize
		@extend $robotoRegular
		padding 0
		height $inputHeight
		line-height $inputHeight
		color $wetAsphalt
		&[data-placeholder="Год рождения"]
			color $brightTelegray

	ul
		height 300px
		margin-top 30px
		box-shadow 0 3px 8px rgba(0, 0, 0, 0.2)
		border-radius 5px
		padding 24px 0
		background-color $white
		li
			@extend $averageFontSize
			color $blue
			&:hover
				color $blue