.top-block
	@extend $relativePosition
	height $topBlockHeight
	background url(../images/bg-top.jpg) no-repeat 50% 0
	background-size cover
	margin-bottom 50px
	&:after
		@extend $pseudoElement
		sizeElement(100%, 90%)
		bottom -1px
		left 0
		background linear-gradient(to top, $white, rgba(255,255,255,.1))

	h1
		@extend $centerText
		@extend $centerElement
		elementPosition(absolute, 62%, 50%)
		line-height .9
		z-index 2

