extends ../blocks/default.pug
block content
	include ../blocks/data.pug
	include ../blocks/custom-checkbox.pug

	section.top-block
		.container
			h1 Анкета кандидата

	main.main
		.container
			form.form
				div.form__information.active#information
					-
						var iconId = 'information',
							titleText = 'Контактные данные'
					include ../blocks/caption-with-icon.pug
					.form-group
						input(type="text" name="name" id="name")
						label(for="name") ФИО
					.form-group
						select(name="birth-year")
							each item in years
								option(value=item)= item
					.form-group
						input(type="text" name="domicile" id="domicile")
						label(for="domicile") Место проживания
					.form-group
						input(type="text" name="skype" id="skype")
						label(for="skype") Skype
					.form-group
						input(type="text" name="email" id="email")
						label(for="email") E-mail
				div.form__skills#skills
					-
						var iconId = 'skills',
						titleText = 'Навыки'
					include ../blocks/caption-with-icon.pug
					.skills__col-wrap
						.skills__col.skills__col_left
							each item in leftColCheckboxes
								+custom-checkbox(item)
						.skills__col.skills__col_center
							each item in centerColCheckboxes
								+custom-checkbox(item)
						.skills__col.skills__col_right
							each item in rightColCheckboxes
								+custom-checkbox(item)
				div.form__js#js
					-
						var iconId = 'js',
						titleText = 'Уровень владения JavaScript'
					include ../blocks/caption-with-icon.pug

					.js__skills-level
						.skills-level__block
							table
								tbody
									tr
										td Не владею
										td
											| Использую готовые
											br
											| решения
										td Использую готовые решения и умею их дорабатывать
										td Пишу сложный JS с нуля
						.skill-level__range
							input(type="range" name="skills-level").range

				div.form__about#about
					-
						var iconId = 'about',
						titleText = 'Дополнительная информация'
					include ../blocks/caption-with-icon.pug

					p.about__text Напишите несколько предложений, чем привлекла наша вакансия и что Вы ожидаете от работы у нас.
					textarea(name="about" placeholder="Понравилась тем, что ..." maxlength="200").about__textarea

				footer.form__footer
					button(type="submit").accent-btn Готово