-
	var headerLinks = [
		{
			link: 'Контактные данные',
			href: '#information',
			addClass: 'active'
		},
		{
			link: 'Навыки',
			href: '#skills'
		},
		{
			link: 'JavaScript',
			href: '#js'
		},
		{
			link: 'Дополнительная информация',
			href: '#about'
		}
	]

-
	var formElements = [
		{
			type: 'input',
			placeholder: 'ФИО'
		}
	]

-
	var years = ['1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998']

-
	var leftColCheckboxes = [
		{
			inputName: 'bem',
			labelText: 'БЭМ/OOCSS'
		},
		{
			inputName: 'cssPreprocessor',
			labelText: 'Stylus/LESS/SASS'
		},
		{
			inputName: 'svg',
			labelText: 'Работаю с SVG'
		}
	]

-
	var centerColCheckboxes = [
		{
			inputName: 'semantic',
			labelText: 'Верстаю семантично'
		},
		{
			inputName: 'ES',
			labelText: 'ES2015/ES2016'
		},
		{
			inputName: 'buildManager',
			labelText: 'Gulp/GRUNT'
		}
	]

-
	var rightColCheckboxes = [
		{
			inputName: 'webpack',
			labelText: 'Webpack'
		},
		{
			inputName: 'jQuery',
			labelText: 'jQuery'
		},
		{
			inputName: 'git',
			labelText: 'Ипользую Git'
		}
	]

