include ../blocks/data.pug
	header.header
		.container
			ul.header__nav
				each link in headerLinks
					li.nav__item
						a(href=link.href class=link.addClass).scroll-to-element.item__links #{link.link}
			.header__menu-btn
				span.menu-btn_line