.form__skills
		@media screen and (max-width: 767px)
			margin-bottom 45px

			.skills__col-wrap
				max-width 12em
				margin 0 auto

			.skills__col
				&:first-child,
				&:nth-child(2),
				&:last-child
					width 100%

			.custom-checkbox .custom-checkbox__label
				white-space nowrap
